#main h1 {
	text-align: left;
	padding-left: 175px;
	padding-top: 20px;
	font-size: 26px;
}

#contactUsForm input[type=text] {
	width:250px;
}

#contactUsForm button {
	width:200px;
	height: 30px;
}

#contactUsForm textarea {
	display:block;
	width:400px;
	height: 100px;
	font:100% sans-serif;
}