#options {
	margin:10px;
	overflow:hidden;
}

#options p, #options ul, #options li {
	float:left;
}

#options p {
	margin-right:10px;
}

#options ul {
	list-style:none;
	margin-right:20px;
	overflow:hidden;
}

#options li {
	float:left; background:#eee; padding:0 10px; cursor:pointer;
}

#options li.selected {
	background:#08f; color:#fff;
}

#products {
	list-style:none;
	overflow: hidden;
}

#products li {
	margin:10px;
	height:250px;
}

#products a {
	display:block;
	height:150px;
	margin-bottom:5px;
}

#products strong, #products span {
	display:block;
	font-size:12px;
	line-height:20px;
	white-space:nowrap;
	overflow:hidden;
}

.detail {
  display: none;
}

.unavailable {
	background: rgba(255,0,0,.5);
	width: 450px;
}

span.stars, span.stars span {
    display: block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.ratingNum {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
}