* {
	margin:0;
	padding:0;
}

html {
	background-color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: #131313;
	box-shadow: -5px 0 15px rgba(0, 0, 0, 0.75);
	height: 100%;
}

body, #header, #footer {
}

a {
	text-decoration: none;
}

#header, #footer {
	background-color: #282828;
}

#header {
	height: 133px;
	padding-top: 10px;
}

#header h1 {
	margin-left: 140px;
	padding-top: 35px;
	color: white;
	font-size: 40px;
	
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
}

#header img {
	width: 120px;
	height: auto;
	background-color: #282828;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#header img.resize{
	width:133px;
    height: 133px;
}

#navigation {
	margin-top: 10px;
    position: fixed;
    top: 200px;
    float: left;
    width: 133px;
    background-image: url(../img/nav_background-small.png);
	background-repeat: repeat-y;
	background-position: left top;
	overflow: hidden;
	height: 100%;
}

#main {
	margin-left: 133px;
	background-color: white;
	overflow: hidden;
	padding-right: 10px;
}

#content {
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#navigation h1 {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
}

#navigation li a, #navigation li {
	background-color: #131313;
	display: block;
    width: 133px;
	text-align: left;
	padding-left: 5px;
	line-height: 30px;
	font-size: 95%;
	color: white;
}

#navigation ul li ul a{
	padding-left: 8px;
}

#navigation>ul>li {
	cursor: default;
}

#navigation li a:hover, #navigation li:hover {
    background-color: white;
	color: #131313;
}

#navigation li ul {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: 0.25s;
}

#navigation li:hover ul {
	display: block;
	max-height: 200px;
	transition: 0.25s max-height;
}

#footer {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(102, 102, 102);
	text-align: center;
	bottom: 0px;
}