* {
	margin:0;
	padding:0;
}

html {
	background-color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
}

body {
	margin-left: auto;
	margin-right: auto;
	/*background-color: #131313;*/
	box-shadow: -5px 0 15px rgba(0, 0, 0, 0.75);
	height: 100%;
	position: relative;
}

body, #header, #footer {
}

a {
	text-decoration: none;
}

#header, #footer {
	background-color: #282828;
}

#main {
	height: 90%;
}

#content {
	overflow: hidden;
	padding-bottom: 100px;
	min-height: 50%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#navigation h1 {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
}

#navigation>ul>li {
	cursor: default;
}

#navigation li a:hover, #navigation li:hover {
    background-color: white;
	color: #131313;
}

#footer {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(102, 102, 102);
	text-align: center;
	bottom: 0px;
}